body{
  background-color: cadetblue;
}

header{
  background-color: cornflowerblue;
}

h1{
  margin: 40px auto;
  text-align: center;

  color: #fff;
}

.container{
  margin: 0 auto;
  width: 90%;
}

.card{
  background-color: #fff;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  border-radius: 20px;
  padding: 40px;
  margin: 2%  auto;
  transition: all .2s ease-in-out;
  list-style-type: none;
  width: 50%;
}

.card:hover{
  transform: scale(1.025);
  
}

.userList{
  margin: 0 auto;
}

.userListScore{
  display: flex;
  justify-content: space-between;
  margin: 5% 0;
}

.userRank{
  background-color:teal;
  color:gold;
  border-radius: 50%;
  font-size: 1.25rem;
  font-weight: 800;
  padding: 2.25rem .75rem;
}
