body{
  background-color:lightblue;
}

header{
  background-color: cornflowerblue;
}

h1{
  margin: 40px auto;
  text-align: center;

  color: #fff;
}

.menuItems{
  display: flex;
  justify-content: center;
}

.menuItem{
  padding: 10px 20px;
  list-style-type: none;
}

.menuItem a{
  color:#fff;
  font-weight: 400;
  text-decoration: none;
}

.container{
  margin: 0 auto;
  width: 90%;
}

.card{
  background-color: #fff;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  border-radius: 20px;
  padding: 40px;
  margin: 2%  auto;
  transition: all .2s ease-in-out;
  list-style-type: none;
  width: 50%;
  
}

.card a{
  text-decoration: none;
  color:rgba(60, 64, 67, 1);
}
.card:hover{
  transform: scale(1.025);
  
}

.userImg{
  width: 1em;
  min-height: 1em;
  border-radius: 50%;
}
.userList{
  margin: 0 auto;
}

.userListScore{
  display: flex;
  justify-content: space-between;
  margin: 5% 0;
}

.userRank{
  background-color:lightblue;
  color:midnightblue;
  border-radius: 50%;
  font-size: 1.25rem;
  font-weight: 800;
  padding: 1rem;
  max-height: 2rem;

}
